[anonymous]
anonymous = true
root_path = /tmp

[davidtest]
password = $1$XXXXXXXX$oqV205xSKMnljqNTxnZaP.
root_path = /tmp/home/davidtest/uploads
authorized_keys_file = /tmp/home/davidtest/.ssh/authorized_keys
