[pysftpd]
auth_provider=local
auth_url=http://auth-url
auth_local=./authconfig.ini.example
host_key.0 = ./server_rsa_key
host_key.1 = ./server_dss_key
listen_host =
listen_port = 54331
s3_bucket = customers-sftp-staging
storage_type = s3
